<div class="page">
    <table class="info-table">
        <tr>
            <td class="label">Campus:</td>
            <td colspan="3">{{campus}}</td>
        </tr>
        <tr>
            <td class="label">Alumno:</td>
            <td colspan="3">{{nombreAlumno}}</td>
        </tr>
        <tr>
            <td class="label">CURP:</td>
            <td>{{curp}}</td>
            <td class="label">Matrícula:</td>
            <td>{{matricula}}</td>
        </tr>
        <tr>
            <td class="label">Nivel de estudios:</td>
            <td>{{nivelEstudios}}</td>
            <td class="label">Promedio:</td>
            <td>{{promedio}}</td>
        </tr>
        <tr>
            <td class="label">Carrera:</td>
            <td>{{nombreCarrera}}</td>
            <td class="label">Clave de carrera:</td>
            <td class="merged-cell">
                {{claveCarrera}}
                <span class="label-inline">Clave de plan:</span> {{clavePlan}}
            </td>
        </tr>
        <tr>
            <td class="label">Número RVOE:</td>
            <td>{{rvoeNumero}}</td>
            <td class="label">Fecha RVOE:</td>
            <td>{{rvoeFecha}}</td>
        </tr>
         <tr>
            <td class="label">Entidad Federativa:</td>
            <td>{{entidadFederativa}}</td>
            <td class="label">Fecha:</td>
            <td>{{fechaExpedicion}}</td>
        </tr>
    </table>

    <div class="table-container">
        <table class="grades-table">
            <thead>
                <tr>
                    <th>ASIGNATURA</th>
                    <th>CICLO</th>
                    <th>CALIFICACIÓN</th>
                    <th>TIPO ASIGNATURA</th>
                    <th>CRÉDITOS</th>
                    <th>OBSERVACIÓN</th>
                </tr>
            </thead>
            <tbody>
                {{filasAsignaturas}}
            </tbody>
        </table>
    </div>
</div>